<style>
  .btn-add{
    background-color: #fe424d;
    color: #fff;
    border-radius: 8px;
    padding : 2 1rem 2 1rem !important;
  }

  .btn-add:hover{
    background-color: black;
    color:white;
  }

</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-heart-pulse fa-2xl" style="color: #e01010;"></i></a>
      
     
        <div class="navbar-nav">
          <h4>Healthcare Services</h4>
        </div>

        <div class="navbar-nav ms-auto">
          <div class="container-fluid">
            <form action="/addService" method="get">
              <button class="btn btn-add" type="submit"><i class="fa-solid fa-plus"></i></button>
            </form>
          </div>
        </div>

        
      </div>

  </nav>